<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <listener>
        <listener-class>Controller.myServletListener</listener-class>
    </listener>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost:1433</param-value>
    </context-param>
    <context-param>
        <param-name>database</param-name>
        <param-value>ARS</param-value>
    </context-param>
    <context-param>
        <param-name>user_name</param-name>
        <param-value>testing</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>1234</param-value>
    </context-param>
    
    
    <servlet>
        <servlet-name>AdminAddController</servlet-name>
        <servlet-class>Controller.AdminAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteController</servlet-name>
        <servlet-class>Controller.AdminDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateController</servlet-name>
        <servlet-class>Controller.AdminUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerApproved</servlet-name>
        <servlet-class>Controller.ManagerApproved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myServletListener</servlet-name>
        <servlet-class>Controller.myServletListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testClass</servlet-name>
        <servlet-class>Controller.testClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFlightBooked</servlet-name>
        <servlet-class>Controller.CustomerFlightBooked</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAddController</servlet-name>
        <url-pattern>/AdminAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteController</servlet-name>
        <url-pattern>/AdminDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateController</servlet-name>
        <url-pattern>/AdminUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerApproved</servlet-name>
        <url-pattern>/ManagerApproved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myServletListener</servlet-name>
        <url-pattern>/myServletListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testClass</servlet-name>
        <url-pattern>/testClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFlightBooked</servlet-name>
        <url-pattern>/CustomerFlightBooked</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
